<?xml version="1.0"?>
<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="rvizconfig" default="$(find vehicle_detection)/rviz/lds.rviz" />
  <arg name="car" value="$(find vehicle_description)/urdf/prius.urdf"/>


  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="world_name" value="$(find vehicle_detection)/worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Two lds models -->
  <arg name="lds_verticle_model" default="$(find vehicle_detection)/urdf/lds_verticle.urdf.xacro"/>
  <param name="lds_verticle_description" command="$(find xacro)/xacro.py $(arg lds_verticle_model)" />
  <node name="lds_verticle" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model lds_verticle -param lds_verticle_description 
      -x 0 -y 0 -z 5.5 -R 0 -P 1.570796 -Y 0"/> 

  <arg name="lds_parallel_model" default="$(find vehicle_detection)/urdf/lds_parallel.urdf.xacro"/>
  <param name="lds_parallel_description" command="$(find xacro)/xacro.py $(arg lds_parallel_model)" />
  <node name="lds_parallel" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model lds_parallel -param lds_parallel_description 
      -x 0.2 -y 0 -z 5.5 -R 0 -P 1.570796 -Y 1.570796"/> 



  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" /> -->


  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="prius" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-file $(arg car) -urdf -model prius -x -10 -y 0 -z 0"/>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />



</launch>
