<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="truck">

  <link name="chassis">
    <visual>
      <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="package://vehicle_description/meshes/truck/truck_step3.stl" scale="0.00001 0.00001 0.00001"/>
      </geometry>
    </visual>

    <collision name="chassis">
       <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
      <geometry>
        <mesh filename="package://vehicle_description/meshes/truck/truck_step1.stl" scale="0.00001 0.00001 0.00001"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="1356.0"/>
      <origin xyz="0 0 0.48" rpy="0 0 0"/>
      <inertia ixx="2581.13354740" ixy="0.0" ixz="0.0" iyy="591.30846112" iyz="0.0" izz="2681.95008628"/>
    </inertial>
  </link>
 <link name="world"></link>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="chassis"/>
  </joint>
</robot>
